@charset "utf-8";

body{

background-color: #eff6e0;



}


.forms{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  color: #124559;
}

h1{
    
    font-size: 40px;
}


a{

color: #c90a02;
border-style: outset;
border-color: #ffffff;

}





